/*  your css code here. If applicable */
body {
	background-color: rgb(248, 248, 248);
	font-family: sans-serif;
}
      
.book-library {
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 1px 10px #686767;
	width: 90%;
	max-width: 600px;
	display: block;
	margin: auto;
	border: 1px solid #ddd;
}

.book-library h1 {
	text-align: center;
	font-size: 18px;
	padding: 15px;
	margin: 0;
	border-bottom: 2px solid #eee;  
}
.book-info{
	background-color: rgb(46, 204, 113);
}
.book {
	  margin: 20px;
	  padding: 15px;
	  border: 1px solid rgb(240, 240, 240);
	  display: flex;
	  flex-direction: column;
}

.book img {
	  display: block;
	  margin: 0 auto 15px auto;
	  height: 250px; 
	  object-fit: contain;
	}

.book h2 {
margin: 0;
text-transform: uppercase;
}

.book p {
	margin: 0;
	text-align: left;
	color: rgb(119, 119, 119);
	font-size: 14px;
	margin-bottom: 8px;
}

.book .btn {
	background-color: rgb(46, 204, 113);
	color: rgb(255, 255, 255);
	padding: 8px;
	font-weight: 600;
	border-radius: 5px;
	text-align: center;
}