/*  your css code here. If applicable */
body {
        background-color: rgb(248, 248, 248);
        font-family: sans-serif;
      }
      
      .book-library {
		background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px 10px #686767;
        width: 90%;
        display: block;
        margin: auto;
        padding: 10px;
      }

      .book-library h1 {
        text-align: center;
		  
      }

      .book {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
      }

      .book img {
        margin: auto;
      }

      .book h2 {
        margin: 0;
        text-transform: uppercase;
      }

      .book p {
        margin: 0;
        text-align: left;
        color: rgb(119, 119, 119);
        font-size: 14px;
        margin-bottom: 8px;
      }

      .book .btn {
       background-color: rgb(46, 204, 113);
  color: rgb(255, 255, 255);
  padding: 8px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
      }